body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h2 {
    color: #333;
    margin-left: 20px;
}

p {
    margin-left: 20px;
}

h3 {
    margin-left: 20px;
}

.project {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}